body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(26, 29, 34); 
}
::-webkit-scrollbar-thumb {
  background: rgb(30, 190, 164); 
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 240, 164); 
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(26, 29, 34);
}
header .nav-left-section{
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-center-section{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header .nav-center-section li{
  padding: 0 20px;
}
header .nav-center-section li a{
  text-decoration: none;
  cursor: pointer;
  color: azure;
  font-size: 22px;
  font-weight: 500;
}
header .nav-center-section li a:hover{
  color: rgb(30, 190, 164);
}
header .nav-rigth-section{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 20px;
}
header .nav-rigth-section button{
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 10px;
  background-color:rgb(30, 190, 164);
  color: azure;
  font-size: 18px;
}
header .nav-rigth-section button:hover{
  background-color:rgb(30, 240, 164);
  color: rgb(26, 29, 34);
  cursor: pointer;
}
main{
  width: 100%;
  background-color: rgb(26, 29, 34);
  color: white;
  display: flex;
}
.hero{
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.hero h1{
  grid-column: 1/2;
  padding: 0 50px;
  font-size: 70px;
  text-align: left;
}
.hero h1 strong{
  color:rgb(30, 190, 164)
}
.hero h1 strong:hover{
  color:rgb(30, 240, 164)
}
.hero img{
  grid-column: 2/4;
  width: 700px;
  justify-self: right;
}
.profile{
  width: 100%;
  box-sizing: border-box;
  padding: 40px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(26, 29, 34);
  color:white; 
}

.profile h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: rgb(30, 190, 164);
}
.profile p{
  font-size: 22px;
  font-weight: 300;
}
.profile p strong{
  font-size: 26px;
  text-align: center;
  color: rgb(30, 190, 164);
}
.profile p strong:hover{
  color: rgb(30, 240, 164);
}
.experience{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(26, 29, 34);
}
.experience .experience-units{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 30px;
}
.experience .experience-units--card{
  padding: 40px;
  margin: 20px;
  border: 1px solid rgb(30, 190, 164);
  border-radius: 20px;
  background-color: white;
}
.experience .experience-units--title{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.experience .experience-units div img{
  display: block;
  margin: auto;
  width: 200px;
}
.experience .experience-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(30, 190, 164);
  font-size: 26px;
}
.projects{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(26, 29, 34);
  padding-top: 20px;
}
.projects .projects-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .projects-title h2{
  color: rgb(30, 190, 164);
  font-size: 36px;
}
.projects .projects-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects .projects-cards-unit{
  padding: 40px;
  margin: 20px;
  border: 1px solid rgb(30, 190, 164);
  border-radius: 20px;
  background-color: white;
}
.projects .projects-cards-unit .projects-card-desc a{
  text-decoration: none;
  color: rgb(30, 190, 164);
}
.projects .projects-cards-unit .projects-card-desc a:hover{
  text-decoration: underline;
  color: rgb(26, 29, 34);
}
.contact{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgb(26, 29, 34);
  padding-top: 20px;
  
}
.contact .contact-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 30px;
}
.contact .contact-cards-units{
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(30, 190, 164);
  border-radius: 20px;
  background-color: white;
  display: flex;
  cursor: pointer;
}
.contact .contact-cards-units:hover{
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(30, 240, 164);
  border-radius: 15px;
  background-color: rgb(30, 190, 164);
  color: white;
  display: flex;
  cursor: pointer;
  text-decoration: underline;
}
.contact .contact-cards-units img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}
.contact .contact-cards-units .contact-cards-tags{
  padding-left: 20px;
}

.contact .contact-cards-units .contact-cards-tags h4{
  padding-left: 20px;
  font-size:17px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.contact .contact-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-title{
  font-size: 26px;
  color: rgb(30, 190, 164);
}
