body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(26, 29, 34);
}
header .nav-left-section{
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-center-section{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header .nav-center-section li{
  padding: 0 20px;
}
header .nav-center-section li a{
  text-decoration: none;
  cursor: pointer;
  color: azure;
  font-size: 22px;
  font-weight: 500;
}
header .nav-center-section li a:hover{
  color: rgb(30, 190, 164);
}
header .nav-rigth-section{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-right: 20px;
}
header .nav-rigth-section button{
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 10px;
  background-color:rgb(30, 190, 164);
  color: azure;
  font-size: 18px;
  font-family: 'Roboto', serif;
}
header .nav-rigth-section button:hover{
  background-color:rgb(30, 240, 164);
  color: rgb(26, 29, 34);
  cursor: pointer;
}
main{
  width: 100%;
  background-color: rgb(26, 29, 34);
  color: white;
  display: flex;
}
.hero{
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.hero h1{
  grid-column: 1/2;
  padding: 0 50px;
  font-size: 70px;
  text-align: left;
}
.hero h1 strong{
  color:rgb(30, 190, 164)
}
.hero h1 strong:hover{
  color:rgb(30, 240, 164)
}
.hero img{
  grid-column: 2/4;
  width: 700px;
  justify-self: right;
}
.profile{
  width: 100%;
  box-sizing: border-box;
  padding: 40px 40px 40px 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(26, 29, 34);
  color:white;
}
.profile:hover{
  background-color:white;
  color: black;
}
.profile h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: rgb(30, 190, 164);
}
.profile p{
  font-size: 22px;
  font-weight: 300;
}
.profile p strong{
  font-size: 26px;
  text-align: center;
}
.profile p strong:hover{
  color: rgb(30, 150, 164);
}