body{
  margin: 0;
  padding: 0;
}

.container{
  width: 80%px;
  display: flex;
  position: relative;
}

.navigator{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigator .logo{
  display: flex;
  justify-content: center;
}